body {
    height: 100%;
}


.flex-container {
    display: flex;
    width: 100%;
    height: 940px;
}

.title-description-container {
    flex: 1;
    background-color: #deeaee;
}


.title {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: 900;
    margin-top: 200px;
    color: black;
    margin-left: 150px;
    line-height: 80px;
}

.description {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    width: 600px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
    color: black;
    line-height: 40px;
    margin-left: 150px;
}


.image-container {
    position: relative;
    flex: 1;
    background-color: #deeaee;
}

.homepage-image {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: var(--opacity-image-1);
    transition: opacity 0.75s ease;
}

.homepage-image-2 {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: var(--opacity-image-2);
    transition: opacity 0.75s ease;
}

.homepage-image-3 {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: var(--opacity-image-3);
    transition: opacity 0.75s ease;
}

