.nav-bar-wrapper {
    text-align: center;
}

.nav-bar {
    list-style-type: none;
    margin-top: 15px;
    padding: 0;
    overflow: hidden;
}


.nav-button {
    display: inline-block;
    padding: 14px 16px;
}

.nav-button-link {
    text-decoration: none;
    color: #222;
    text-align: center;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
}

.nav-button-link:hover {
    cursor: pointer;
}